<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Make Aid Request</title>
</head>
<body>
<h1>Aid Request Page</h1>
<form >
    <div class="error" style="background-color: red;"></div><br>
    <label for="bank_name">Bank Name</label><br>
    <input type="text" id="bank_name" required/><br>
    <label for="bank_account">Bank Account</label><br>
    <input type="text" id="bank_account" required/><br>
    <label for="amount">Amount</label><br>
    <input type="text" id="amount" required><br>
    <label for="authorizer_name">Authorizer Name</label><br>
    <input type="text" id="authorizer_name" required><br>
    <label for="authorizer_phone">Authorizer Phone</label><br>
    <input type="text" id="authorizer_phone" required><br>
    <input type="submit" value="Request"><br>
</form>
<br><br>
<div id="status"></div>

<script>
    const current_url = window.location.href;
    const id = current_url.split('/')[4];
    const form = document.querySelector('form')
    const bank_name = document.querySelector('#bank_name')
    const bank_account = document.querySelector('#bank_account')
    const amount = document.querySelector('#amount')
    const authorizer_name = document.querySelector('#authorizer_name')
    const authorizer_phone = document.querySelector('#authorizer_phone')
    const status = document.querySelector('#status')
    const display = document.querySelector('.error')
    status.innerHTML = `<a href="/user/${id}">Go Back</a></p>`
    form.addEventListener('submit', async (e) => {
        e.preventDefault()
        display.textContent = ''
        try {
            const res = await fetch('/api/auth/user/aid', {
                method: 'POST',
                body: JSON.stringify({user_id:id, bank_name:bank_name.value, bank_account:bank_account.value, amount:amount.value, authorizer_name:authorizer_name.value, authorizer_phone:authorizer_phone.value}),
                headers: { 'Content-Type': 'application/json' }
            })
            const data = await res.json()
            const bc_call = await fetch('/api/auth/blockchain/makeAidRequest', {
                method: 'POST',
                body: JSON.stringify({aid_id:data.id, amount:data.amount, details:data.aid_details}),
                headers: { 'Content-Type': 'application/json' }
            })
            console.log(await bc_call.json());
            if (res.status === 201) {
                form.innerHTML = ''
                status.innerHTML = `<p>Aid Request Created</p><br><p><a href="/user/${id}">Go Back</a></p>`
            } else {
                display.textContent = data.message
            }
        } catch (err) {
            console.log(err.message)
        }
    })
</script>
</body>
</html>