<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Prekkha</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
            </ul>
            <div class="d-flex">
                <a class="btn btn-outline-success" href="/login">Login</a>
            </div>
        </div>
    </div>
</nav>
<div class="error" style="background-color: red;"></div>
<br><br>
<div class="position-absolute top-50 start-50 translate-middle">
    <div class="card text-center" style="width: 1000px; height: 450px">
        <div class="card-header">
            <h2>Registration</h2>
        </div>
        <div class="card-body">
            <div>
                <form class="row g-3">
                    <div class="col-md-12">
                    <p>Are you a User or Donor?</p>
                    <div>
                        <input type="radio" name="role" value="user" id="user" required>
                        <label class="form-label" for="user">User</label>
                    </div>
                    <div>
                        <input type="radio" name="role" value="donor" id="donor" required>
                        <label class="form-label" for="donor">Donor</label>
                    </div>
                    </div>
                    <br>
                    <div class="col-md-6">
                    <label class="form-label" for="username">Username</label><br>
                    <input class="form-control" type="text" id="username" required><br>
                    </div>
                    <div class="col-md-6">
                    <label class="form-label" for="password">Password</label><br>
                    <input class="form-control" type="password" id="password" required><br>
                    </div>
                    <div class="col-md-12">
                    <input class="btn btn-primary" type="submit" value="Register"><br>
                    </div>
                </form>
                <br>
                <a href="/login">Already registered? Login</a>
            </div>
        </div>
        <div class="card-footer text-muted">
            Prekkha is a Blockchain based system
        </div>
    </div>
</div>
<script>
    const form = document.querySelector('form')
    const username = document.querySelector('#username')
    const password = document.querySelector('#password')
    const roles = document.querySelectorAll('input[name="role"]');
    const display = document.querySelector('.error')
    form.addEventListener('submit', async (e) => {
        e.preventDefault()
        display.textContent = ''
        let selectedRole;
        for (const role of roles) {
            if (role.checked) {
                selectedRole = role.value;
                break;
            }
        }
        try {
            const res = await fetch('/api/auth/register', {
                method: 'POST',
                body: JSON.stringify({username: username.value, password: password.value, role: selectedRole}),
                headers: {'Content-Type': 'application/json'}
            })
            const data = await res.json()
            const bc_call = await fetch('/api/auth/blockchain/registration', {
                method: 'POST',
                body: JSON.stringify({user_id: data.user, role: data.role, username: data.username}),
                headers: {'Content-Type': 'application/json'}
            })
            console.log(await bc_call.json());
            if (res.status === 400 || res.status === 401) {
                return display.textContent = `${data.message}. ${data.error ? data.error : ''}`
            }
            if (data.role === "admin") {
                location.assign('/admin')
            } else if (data.role === "donor") {
                location.assign(`/donor/${data.user}`)
            } else if (data.role === "user") {
                location.assign(`/user/${data.user}`)
            } else console.log("role not found")

        } catch (err) {
            console.log(err.message)
        }

    })
</script>
</body>
</html>